# Eclipse 작업공간 정보 (절대 공유 X)
.metadata/

# Java 프로젝트 내부 빌드 출력물 (Tomcat 서버 bin은 제외!)
**/build/
**/target/

# 프로젝트 내부 bin만 제외 (Tomcat/bin은 포함됨)
**/bin/
!**/Tomcat*/bin/

# OS 및 에디터 임시파일
.DS_Store
Thumbs.db

*.zip
*.war

